body 
{
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#loader 
{  
  border: 1.0em solid #f3f3f3; /* Light grey */
  border-top: 1.0em solid #2c3e50; /* Blue */
  border-radius: 50%;
  width: 4.0em;
  height: 4.0em;
  animation: spin 2s linear infinite;
  visibility: hidden;
	position: absolute;
	margin-left: 1.0em;
	left: 50%;
	top: 50%;
}

@keyframes spin 
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  padding: 8px;
	background-color: #2c3e50;
	color: #ffffff;
	position: sticky;
	top: 0;
}

td {
  text-align: center;
  padding: 8px;
}


.sticky
{
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
}

#phenotypes_tbody td
{
	cursor: pointer;
}


tr.odd 
{
  background-color: #f2f2f2;
}


@keyframes highlight 
{
  0% { background: #7a9dbf; }
  100% { background: none; }
}

@keyframes odd-highlight 
{
  0% { background: #7a9dbf; }
  100% { background: none; /* #f2f2f2; */ }
}


.close_button 
{
	left: 0;
	top: 0;
	position: absolute;
	cursor: pointer;
}

tr.selected 
{
	animation: highlight 1s;
}

tr.selected.odd
{
	animation: odd-highlight 1s;
}

#selected_phenotypes 
{
	list-style-type: none;
	border-style: solid 1px;
	padding-left: 0;
}

#search_form
{
	position: relative;
	padding-bottom: 2.0em;
}

ul li input  
{
	vertical-align: top;
  margin-left: 0em;
  margin-right: 1.0em;
}


.equal_column input
{
  margin-left: 1.0em;
}


.hover 
{
    position:relative;
    top:50px;
    left:50px;
}

.tooltip 
{
  top:-10px;
  background-color:#2c3e50;
  color:white;
  border-radius:5px;
  opacity:0;
  position:absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition:  opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition:  opacity 0.5s;
  transition:  opacity 0.5s;
}

.hover:hover .tooltip 
{
    opacity:1;
}

.row 
{
	display: flex;
}

.narrow_column
{
	flex: 30%;
}

.wide_column
{
	flex: 70%;
}


.equal_column
{
	padding-left: 2.0em;
	padding-right: 2.0em;
	flex: 50%;
}


#search_btn
{
	position: absolute;
	right: 1.0em;
}

#search_fieldset
{
	position: relative;
}


ul.stats
{	
	list-style-type: none;
	padding: 0;
	margin: 0;
}


/* Open state of the dialog  */
#phenotypes_dialog:open {
  opacity: 1;
  transform: scaleY(1); 
  	animation: animatetop 0.4s;

}

/* Closed state of the dialog   */
#phenotypes_dialog {
	width: 70%;
  opacity: 0;
/*
  transform: scaleY(0);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
  */
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
  
  padding: 0;
}

/* Before open state  */
/* Needs to be after the previous dialog:open rule to take effect,
    as the specificity is the same */
@starting-style {
  #phenotypes_dialog:open {
    opacity: 0;
    transform: scaleY(0);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
#phenotypes_dialog::backdrop {
  background-color: transparent;
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

#phenotypes_dialog:open::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  #phenotypes_dialog:open::backdrop {
    background-color: transparent;
  }
}

#modal
{
	display: none;
	//	position: relative;
	animation: animatetop 0.4s;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */	
}

#table_wrapper
{
	position: relative;
	margin: auto;
  width: 100%; 
  
}

#table_scroll 
{
  height: 700px; 
/*  overflow: auto;   */

}

#table_wrapper table 
{
}

#phenotypes_tbody
{
	overflow: hidden;
}

@keyframes animatetop
{
	from
		{
			top: -300px; 
			opacity: 0;
		} 
	to
		{
			top: 0;
			opacity: 1;
		}
}
