body 
{
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#loader 
{  
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #2c3e50; /* Blue */
  border-radius: 50%;
  width: 1.0em;
  height: 1.0em;
  animation: spin 2s linear infinite;
  visibility: hidden;
	position: fixed;
	margin-left: 1.0em;
}

@keyframes spin 
{
  0% { transform: rotate (0deg); }
  100% { transform: rotate (360deg); }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  padding: 8px;
	background-color: #2c3e50;
	color: #ffffff;
	position: sticky;
	top: 0;
}

td {
  text-align: center;
  padding: 8px;
}

#phenotypes_tbody td
{
	cursor: pointer;
}


tr.odd 
{
  background-color: #f2f2f2;
}


#table-wrapper 
{
  position:relative;
}

#table-scroll 
{
  height: 700px;
  overflow: auto;  
  margin: 0.5em 1.0em 1.0em 0;
}

#table-wrapper table 
{
  width: 100%;    
}


@keyframes highlight 
{
  0% { background: #7a9dbf; }
  100% { background: none; }
}

@keyframes odd-highlight 
{
  0% { background: #7a9dbf; }
  100% { background: #f2f2f2;; }
}


tr.selected 
{
	animation: highlight 1s;
}

tr.selected.odd
{
	animation: odd-highlight 1s;
}

#selected_phenotypes 
{
	list-style-type: none;
	border-style: solid 1px;
	padding-left: 0;
}


ul li input  
{
	vertical-align: top;
  margin-left: 0em;
  margin-right: 1.0em;
}


.equal-column input
{
  margin-left: 1.0em;
}


.hover 
{
    position:relative;
    top:50px;
    left:50px;
}

.tooltip 
{
  top:-10px;
  background-color:#2c3e50;
  color:white;
  border-radius:5px;
  opacity:0;
  position:absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition:  opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition:  opacity 0.5s;
  transition:  opacity 0.5s;
}

.hover:hover .tooltip 
{
    opacity:1;
}

.row 
{
	display: flex;
}

.narrow-column
{
	flex: 30%;
}

.wide-column
{
	flex: 70%;
}


.equal-column
{
	flex: 70%;
}


#search_btn
{
	position: absolute;
	bottom: 1.0em;
	right: 1.0em;
}

#search_fieldset
{
	position: relative;
}

